# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/hosting

# production
/build

# misc
.DS_Store
**/.DS_Store
*.pem
*.crt
*.key

# debug
pnpm-debug.log*

# env files
.env
.env.local
.env.development
.env.production

# vercel
.vercel

tsconfig.tsbuildinfo
