---
layout: default
---

<div class="home">


  <h1 class="page-heading hide">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="clearfix">
        <div class="post-meta">
          <div class="post-section">{{ post.section }}</div>
          <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </div>

        <div class="post-summary">
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          {% if post.image %}
            <p class="with-image">{{ post.summary }}</p>
            <img class="post-image" src="{{ site.baseurl }}/images/{{ post.image }}">
          {% else %}
            <p>{{ post.summary }}</p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
