---
layout: default
---

<div class="home">


  <h1 class="page-heading hide">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="clearfix">
        <div class="post-meta {% if post.image %}with-image{% endif %}">
          <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
          <div class="post-section">
            <em class="in-label">in</em>
            {{ post.section }}
          </div>
        </div>

        <div class="post-summary">
          {% if post.image %}<div class="img-mask"><img class="post-image" src="{{ site.baseurl }}/images/{{ post.image }}"></div>{% endif %}
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p>{{ post.summary }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
