.copy-command {
  background: @gray7;
  border-left: 3px solid @gray6;
  position: relative;
  z-index: 0;
  overflow: auto;

  &-single {
    display: inline-block;
    padding: 10px 100px 10px 15px;
    line-height: 35px;
    height: 58px;
    white-space: nowrap;
  }

  &-block {
    padding: 15px 100px 15px 15px;
    line-height: 1.75;
    white-space: pre;

    &-has-button {
      white-space: normal;
      overflow: hidden;
    }
  }
  
  &-text {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
  }

  &-button {
    position: absolute;
    top: 13px;
    right: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }

  &-is-full-width {
    width: 100%;
    white-space: normal;
    overflow: hidden;
  }

  &-is-spaced {
    margin-bottom: 10px;
  }
}
