/* Fonts! */
//Reg
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdreg.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdreg.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdreg.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdreg.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}
//Reg Italic
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdita.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdita.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdita.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdita.ttf')  format('truetype');
    font-style: italic;
    font-weight: normal;
}
//Bold
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmed.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmed.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmed.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmed.ttf')  format('truetype');
    font-style: normal;
    font-weight: bold;
}
//Bold Italic
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmedita.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmedita.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmedita.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdmedita.ttf')  format('truetype');
    font-style: italic;
    font-weight: bold;
}
//Light
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdlig.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdlig.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdlig.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdlig.ttf')  format('truetype');
    font-style: normal;
    font-weight: 200;
}
//Light Italic
@font-face {
    font-family: 'Akzidenz';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligita.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligita.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligita.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligita.ttf')  format('truetype');
    font-style: italic;
    font-weight: 200;
}
//Condensed weights and styles
@font-face {
    font-family: 'Akzidenz Cnd';
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligcnd.eot');
    src: url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligcnd.eot#iefix') format('embedded-opentype'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligcnd.woff') format('woff'),
    url('{{site.baseurl}}/bootstrap/fonts/akzidgrostdligcnd.ttf')  format('truetype');
    font-style: normal;
    font-weight: 200;
}
