.color-block {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;

  li {
    display: inline-block;
    margin: 1em;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    &.li-small {
      width: 5em;
      height: 5em;
    }
  }
  .palette-label {
  vertical-align: middle;
  text-align: center;
    p {
      margin: .5em;
      font-size: 11px;
    }
    h4 {
      word-wrap: break-word;
      width: 11em;
    }
  }
}