.input {
  padding: 9px 12px;
  border: 1px solid @gray5;
  font-size: 14px;
  border-radius: 3px;
  width: 100%;
  &:focus {
    border-color: @linkText;
    box-shadow: 0 2px 3px rgba(0, 108, 188, 0.2);
  }
  &-is-small {
    padding: 5px 8px;
  }
}