.navigation {
  font-size: 16px;
  font-weight: normal;
  color: @gray0;
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:hover {
    color: @linkText;
    text-decoration: none;
  }

  &-is-horizontal {  
    &-parent, &-child {
      display: flex;
      margin-bottom: 0;
      padding: 0 0 0 40px;
      list-style: none;
    }
  }

  &-is-vertical {
    padding-top: 100px;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
    padding-left: 1.75rem;
    font-size: 14px;

    &-parent {
      list-style: none;
    }

    &-child {
      list-style: none;
      padding-bottom: 12px; 
    }
  }

  &-link {
    position: relative;
    color: @gray0;

    &:hover {
      color: @linkText;
      text-decoration: none;
    }
  }

  &-mobile-menu-button {
    display: none;
  }

  &-hamburger-button {
    display: none!important;
    float: right;
    margin: 0;
    border: none;
    background: none;
    outline: 0;

    &:focus {
      color: @linkText;
    }
  }
}

 @media (max-width: 736px)  { 
  .navigation {
    display: none;
  }
}
