.navigation {
  font-size: 16px;
  font-weight: normal;
  color: @gray0;
  float: right;

  &:hover {
    color: @linkText;
    text-decoration: none;
  }

  &-is-horizontal {
    display: inline;



    &-parent, &-child {
      margin: 2px 0 0 0;
      padding: 0 0 0 40px;
      list-style: none;
    }
  }

  &-is-vertical {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
    left: 1.75rem;
    font-size: 14px;

    &-parent {
      padding-left: 0;
      padding-bottom: 24px;
      list-style: none;
    }

    &-child {
      margin-bottom: 0.4em;
    }
  }

  &-link {
    position: relative;
    color: @gray0;

    &:hover {
      color: @linkText;
      text-decoration: none;
      }
    }
}
