@green0: #365221;
@green1: #507b32;
@green2: #6ba442;
@green3: #89b668;
@green4: #a6c88e;
@green5: #c4dbb3;
@green8: #f0f7ec;

@gray0: #303434;
@gray1: #464c4f;
@gray2: #626668;
@gray3: #818487;
@gray4: #9fa1a2;
@gray5: #babdbe;

@mongodbslate: #4d5359;

/* UI Grays */
@gray6: #d7dbdb;
@gray7: #e8e9e9;
@gray8: #f4f6f6;
