@green0: #365221;
@green1: #507b32;
@green2: #6ba442;
@green3: #89b668;
@green4: #a6c88e;
@green5: #c4dbb3;
@green8: #f0f7ec;

@gray0: #303434;
@gray1: #464c4f;
@gray2: #626668;
@gray3: #818487;
@gray4: #9fa1a2;
@gray5: #babdbe;

@mongodbslate: #4d5359;

/* UI Grays */
@gray6: #d7dbdb;
@gray7: #e8e9e9;
@gray8: #f4f6f6;

.gray0    { background-color: @gray0; }
.gray1    { background-color: @gray1; }
.gray2    { background-color: @gray2; }
.gray3    { background-color: @gray3; }
.gray4    { background-color: @gray4; }
.gray5    { background-color: @gray5; }

.gray6    { background-color: @gray6; }
.gray7    { background-color: @gray7; }
.gray8    { background-color: @gray8; }


.green0    { background-color: @green0; }
.green1    { background-color: @green1; }
.green2    { background-color: @green2; }
.green3    { background-color: @green3; }
.green4    { background-color: @green4; }
.green5    { background-color: @green5; }
