// @import 'normalize.css';
@import 'bubble.less';
@import 'buttons.less';
@import 'button-group.less';
@import 'banners.less';
@import 'code.less';
@import 'colors.less';
@import 'forms.less';
@import 'rich-radio.less';
@import 'grid.less';
@import 'palette.less';
@import 'tabs.less';
@import 'tables.less';
@import 'typography.less';
@import 'utilities.less';
@import 'json-view.less';
@import 'view-modal.less';
@import 'checklist.less';
@import 'nested-list.less';
@import 'number-circle.less';
@import 'step-indicator.less';
@import 'paginator.less';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: $darkGray;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

input,
textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

textarea {
  resize: none;
}

ul, li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 0.5em;
}

.container {
  position: relative;
  width: 100%;
}

.wrap {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 100px auto 0;
}

.header {
  background: @gray8;
  //*//
  //REPLACE PADDING//
  //WITH UTILITY CLASS//
  padding: 1rem 0.75rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.brand {
  float: left;
}

.brand h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  a {
    color: @gray0;
  }
}

.navigation {
  float: right;
}

.navigation a {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  color: @gray0;

  &:hover {
    color: @linkText;
    text-decoration: none;
  }
}

nav.sidebar {
  position: fixed;
  top: 100px;
  width: 200px;
  left: 1.75rem;
  font-size: 14px;
}

nav.sidebar ul {
  list-style: none;
}

nav.sidebar ul li {
  margin-bottom: 0;
  a {
    display: block;
    padding: 4px 0;
    color: @gray0;
    &:hover {
      color: @linkText;
      text-decoration: none;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  padding: 1em;
}

pre {
  background-color: @gray8;
  padding: 15px;
  border: 1px solid @gray6;
  border-radius: 3px;
  overflow-x: scroll;
}

.grid-item span {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: @selectBlue;
  display: block;
  width: 100%;
  border-radius: 3px;
}

.code {
  display: inline-block;
  border: 1px solid @gray5;
  padding: 0 0.325rem;
  font-size: 14px;
  font-family: monospace;
  border-radius: 3px;
  color: @gray0;
  background-color: #fff;
}

.color-block {
  padding: 40px 0;
  text-align: center;
  display: block;
  border-radius: 3px;
  .code {
    border: none;
    padding: 5px 10px;
  }
}

.temp-icon {
  height: 24px;
  width: 24px;
  background-color: @gray5;
  display: block;
  position: absolute;
  left: 24px;
  top: 22px;
  border-radius: 3px;
}

.temp-progress-bar {
  height: 7px;
  width: 100%;
  background-color: @gray6;
  position: relative;
  padding: 0 2rem;
  border-radius: 100px;
  span {
    height: 7px;
    width: 33%;
    background-color: @selectBlue;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
  }
}

.loader-text {
  font-size: 11px;
  font-weight: 600;
  color: @selectBlue;
}
