// @import 'normalize.css';
@import 'buttons.less';
@import 'colors.less';
@import 'forms.less';
@import 'grid.less';
@import 'palette.less';
@import 'tables.less';
@import 'typography.less';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: $darkGray;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

input,
textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

textarea {
  resize: none;
}

ul, li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 0.5em;
}

.container {
  position: relative;
  width: 100%;
}

.wrap {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 0;
}

.header {
  background: @gray8;
  //*//
  //REPLACE PADDING//
  //WITH UTILITY CLASS//
  padding: 1rem 0.75rem;
}

.brand {
  float: left;
}

.brand h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.navigation {
  float: right;
}

.navigation a {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  color: @gray1;

  &:hover {
    color: @gray4;
    text-decoration: none;
  }
}

nav.sidebar {
  position: absolute;
  top: 50px;
  width: 200px;
  left: 1.75rem;
  font-size: 14px;
}

nav.sidebar ul {
  list-style: none;
}

nav.sidebar ul li {
  margin-bottom: 0;
  a {
    display: block;
    padding: 4px 0;
    color: @gray1;
    &:hover {
      color: @blue;
      text-decoration: none;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  padding: 1em;
}

pre {
  background-color: @gray8;
  padding: 15px;
  border: 1px solid @gray6;
  border-radius: 3px;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.grid-item span {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  background-color: @blue;
  display: block;
  width: 100%;
  border-radius: 3px;
}

.code {
  display: inline-block;
  border: 1px solid @gray5;
  padding: 0 0.325rem;
  font-size: 14px;
  font-family: monospace;
  border-radius: 3px;
  color: @gray0;
}

.button-ui {
  .button {
    margin-right: 5px;
  }
}