.tabs {
  border-bottom: 3px solid @gray6;
  list-style: none;
  font-weight: 600;
  &:after {
    content: " ";
    clear: both;
    display: block;
  }
  &-tab {
    display: inline-block;
    float: left;
    position: relative;
    top: 3px;
    margin: 0;
    &-link {
      color: @gray3;
      padding: 0.5rem 1rem;
      display: block;
      &:hover {
        color: @gray1;
      }
    }
    &-is-active {
      .tabs-tab-link {
        color: @gray1;
        border-bottom: 3px solid @green2;
        &:hover {
          color: @gray1;
          border-bottom: 3px solid @green2;          
        }
      }
    }
  }
}

.sectionBox {
  border: 1px solid @gray8;
  min-height: 150px;
  width: 100%;
  padding: 1.3rem;
  margin: 0 0.5rem;

  h2 {
    float: left;
  }

  .sectionTitle{
     display: flow-root;
     margin-bottom: 1rem;
  }

  .alert {
    color: #a16a03;
    background: @alertOrangeBg;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid @alertOrangeBorder;
    margin-bottom: 1rem;
    font-size: 14px;
  }
}

.more {
  font-size: 12px;
  top: 7px;
}

.subtab {
  font-size: 13px;

  a.active {
    color: @green2;
  }
}

.betaLabel {
  position: absolute;
  color: white;
  padding: 3px 9px;
  border-radius: 4px;
  background-color: @gray6;
  font-size: 12px;
  top: -0.8rem;
  right: -0.3rem;
}

  input.box {
    display: inline !important;
    font-size: 12px;
  }

.foobar {
    display: inline;
    font-size: 14px;
    margin-right: 10px;
}

.section-banner-item {
    margin-right: 1.5rem;
    color: @gray3;

  .section-banner-keyword {
    color: @green2;
    text-transform: lowercase;
    font-size: 12px;
  }
}

label.button-is-xs {
  color: @gray3;
}

.section-banner {
  background-color: @green8;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.section-controls {
  margin: 0.7rem 0;
}