.tabs {
  border-bottom: 3px solid @gray6;
  list-style: none;
  font-weight: 600;
  &:after {
    content: " ";
    clear: both;
    display: block;
  }
  &-tab {
    display: inline-block;
    float: left;
    position: relative;
    top: 3px;
    margin: 0;
    &-link {
      color: @gray3;
      padding: 0.5rem 1rem;
      display: block;
      &:hover {
        color: @gray1;
      }
    }
    &-is-active {
      .tabs-tab-link {
        color: @gray1;
        border-bottom: 3px solid @green2;
        &:hover {
          color: @gray1;
          border-bottom: 3px solid @green2;          
        }
      }
    }
  }
}

.sectionBox {
  border: 1px solid @gray8;
  min-height: 150px;
  width: 100%;
  padding: 1.3rem;
  margin: 0 0.5rem;

  h2 {
    float: left;
  }

  .sectionTitle{
     display: flow-root;
  }

  .alert {
    color: #a16a03;
    background: @alertOrangeBg;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid @alertOrangeBorder;
    margin-bottom: 1rem;
    font-size: 14px;
  }
}