/**
 * A mixin for transition with cross-browser support
 */
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition: @transition;
	-ms-transition: @transition; 
	-o-transition: @transition;
	transition: @transition;
}
