---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="post-meta">
      <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
      <div class="post-section">
        <em class="in-label">in</em>
        {{ page.section }}
      </div>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
