name: on-pr
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

env:
  CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
  secret: ${{ secrets.SECRET }}

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v2
      - name: Use Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn
          cache-dependency-path: 'yarn.lock'
      - name: Install Dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
  types:
    runs-on: ubuntu-latest
    name: Types
    steps:
      - uses: actions/checkout@v2
      - name: Use Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn
          cache-dependency-path: 'yarn.lock'
      - name: Install Dependencies
        run: yarn install
      - name: TypeCheck
        run: yarn check:ts
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2
      - name: Use Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn
          cache-dependency-path: 'yarn.lock'
      - name: Install Dependencies
        run: yarn install
      - name: Build NextJS
        run: NEXT_PUBLIC_ENVIRONMENT=main yarn build
